<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Tiga.Main">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="主页" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/btn_Login" />
        <activity
            android:name=".myStudyActivity"
            android:label="@string/btn_MyStudy" />
        <activity
            android:name=".QQActivity"
            android:label="QQ" />
        <activity
            android:name=".CallActivity"
            android:label="打电话" />
        <activity
            android:name=".Call2Activity"
            android:label="获取数据" />
        <activity
            android:name=".NotificationActivity"
            android:label="通知" />
        <activity
            android:name=".DetailActivity"
            android:label="通知详情" />
        <activity android:name=".VersionActivity" />
        <activity
            android:name=".DialogActivity"
            android:label="对话框" />
        <activity
            android:name="com.example.Tiga.Login.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BookActivity" />
        <activity
            android:name="com.example.Tiga.Login.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.example.Tiga.Login.UserActivity" />
        <activity android:name="com.example.Tiga.Login.PersonalInformationActivity" />
        <activity android:name="com.example.Tiga.Login.ModifyInformationActivity" />
        <activity android:name="com.example.Tiga.Login.ModifyPassWordActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".OkHttpActivity" />
        <activity android:name=".ParseXmlActivity" />
        <activity android:name=".RecyclerViewActivity"></activity>
    </application>

</manifest>